#proof0{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 100%;
    /* top: 0%; */
    z-index: 8;
}

.presentacion0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    width: 100%;
    z-index: 10;
    position: relative;
}

.tituleProof0{
    position: absolute;
    width: 80%;
    height: 30rem;
    top:10rem;
    text-align: left;
}

.tituleProof0 h3{
    font-size: 5rem;
}

.tituleProof0 h4{
    font-size: 2.7rem;
    font-weight: 900;
    margin-top: -1.5rem;

}

.containerProof0{
    height: 30rem;
    position: absolute;
    top:45%;
    width: 80%;
    text-align: left;
}

.back {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.text0{
    margin-top: 1rem;
}

.text0 p{
    line-height: 1.9rem;
}

#atrasProof0{
    left: -100%;
}
#medioProof0{
    display: none;
}


  

