#proof16{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 100%;
    /* left: 0%; */
    background-size: 100% 100%;
    top: 0%;
    z-index:1;
}

.presentacion16 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    width: 100%;
    z-index: 10;
}

.containerProof16{
    display: flex;
    width: 100%;
    position: absolute;
    top: 50%;
}

.tituleProof16{
    position: absolute;
    top:15%;
    width: 60%;
}

.tituleProof16 p{
    line-height: 1.8rem;
}

.tituleProof16 h3{
    font-size: 4rem;
}

.tituleProof16 b{
    font-size: 1.5rem;
}

.tituleProof16 h4{
    font-size: 3rem;
    margin-top: -1rem;
}

.containerProof16{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: center;
    height: 22rem;
}

.provisional2{
    width: 14rem;
}

.guia1{
    position: absolute;
    left: 8%;
}
.guia2{
    position: absolute;
}
.guia3{
    position: absolute;
    right: 0;
}

.margin16P{
    margin-top: 1rem;
}

.containerProof16 p{
    font-size: 1.28rem;
    line-height: 1.4rem;
}

#PEP1{
    width: 13rem;
    margin-bottom: 0.8rem;
}
#PEP2{
    margin-top: 1.2rem;
    width: 18rem;
    margin-bottom: 0.8rem;
}
#PEP3{
    margin-top: 1.3rem;
    width: 23rem;
    margin-left: 8rem;
    margin-bottom: 0.8rem;
}

