#proof36a{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 100%;
    /* top: 0%; */

}

.presentacion36a{
    position: relative;
    display: flex;
    height: 100vh;
    text-align: center;
    width: 100vw;
    z-index: 10;
}

.titule36a{
    position: absolute;
    width: 70%;
    top: 20%;
    left: 5%;
    text-align: left;

}

.titule36a h3{
    font-size: 4rem;
}

.titule36a p{
    line-height: 1.8rem;
}
