#proof17{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 100%;
    /* top: 0%; */
    z-index:1;
}

.presentacion17 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: black;
    width: 100%;
    z-index: 10;
}

.containerProof17{
    position: absolute;
    top: 33%;
}
.containerProof17 h3 {
    font-size: 3rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.containerProof17 p{
    line-height: 1.7rem;
}



#proof17 .containerProof17{
    overflow: initial;
}
#proof17 .containerProof17 h3{
    background-color: #bf2f41;
    width: 350px;
    margin: auto;
    position: relative;
    overflow: initial;
}
#proof17 .containerProof17 h3:before{
    content: "";
    border-top: 0px solid transparent;
    border-bottom: 48px solid transparent;
    border-right: 30px solid #bf2f41;
    position: absolute;
    left: -30px;
    top: 0px;
}
#proof17 .containerProof17 h3:after{
    content: "";
    border-top: 48px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 30px solid #bf2f41;
    position: absolute;
    right: -30px;
    top: 0px;
}
#proof17 .containerProof17 p{
    margin-top: 40px !important;
}