#proof26{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 100%;
    /* top: 0%; */
}

.presentacion26 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: black;
    width: 100%;
    z-index: 10;
}

/* es reempplazado */
.tituleProof26{
    position: absolute;
    top: 20%;
    left: 5%;
    text-align: left;
    width: 100%;
}

.tituleProof26 h3{
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin: 0;
}

.tituleProof26 p{
    font-size: 2.8rem;
    line-height: 2.8rem;
    margin: 0;
}

/* es reempplazado */
.containerProof26Text{ 
    position: absolute;
    display: flex;
    top: 30%;
    margin: auto;
}
.containerProof26TextDiv{
    display: flex;
}

.containerProof26TextP{
    margin-top: 4rem;
}

.containerProof26TextP p{
    font-size: 2rem;
    line-height: 2.4rem;
}

.containerProof26TextP h3{
    margin-top: -0.3rem;
    font-size: 2rem;
}

.containerLetter26{
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(160, 24, 24);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-top: 0.75rem;
}

.text26{
    margin-top: 0.8rem;
}

.containerLetter26 h3{
    margin: 0;
}


.evitaText26{
    margin-top: 2.8rem;
}

.evitaText26 h3{
    font-size: 3rem;
    line-height: 3rem;
    margin: 0;
}

.parentezco26{
    display: flex;
    justify-content: center;
}

#parentezco {
    border: none;
    margin: 1rem;
    color: black;
    font-size: 2rem;
    font-family: 'Fredoka One';
    padding: 0.3rem 1rem;
    border-radius: 1rem;
}

#grado {
    border: none;
    margin: 1rem;
    color: black;
    font-size: 2rem;
    font-family: 'Fredoka One';
    padding: 0.3rem 2rem;
    border-radius: 1rem;
}

#parentezco:hover {
    background-color: gainsboro;
}

.grado:hover {
    background-color: gainsboro;
}

#logo16grado{
    height: 3.5rem;
    width: 3.5rem;
}

#logo16parentezco{
    width: 5rem;
}

/* ---------emergentes1----------- */

#consanguinidad26{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.938);
    width: 90%;
    height: 90%;
    border-radius: 2rem;
    z-index: 110;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2rem;
    left: 100%;
    margin: 5%;
}

#parentezco26{
    width: 6rem;
}

.tituleconsanguinidad26{
    display: flex;
    margin-top: 3%;
}

.textconsanguinidad26{
    margin-left: 1rem;
}

.textconsanguinidad26 h3{
    color: black; 
    margin: 0;
}

.textconsanguinidad26 p{
    color: black; 
}


.parrafoConsanguinidad26 h3{
    color: black;
}

.parrafoConsanguinidad26 p{
    color: black;
}

.text2Consanguinidad26{
    display: flex;
    margin-top: 4rem;
}

.numberConsanguinidad26{
    width: 7%;
    display: flex;
    justify-content: center;
}

.numberConsanguinidad26 h3{
    color: black;
    font-size: 3rem;
}

.parrafoConsanguinidad26{
    width: 50%;
}

.parrafoConsanguinidad26 h3{
    font-size: 3rem;
    margin: 0;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.imgConsanguinidad26{
    width: 43%;
    display: flex;
    justify-content: center;
}

#familia26{
    width: 80%;
}

.btnProog26{
    margin-left: 2rem;
}

.btnProog26 button p{
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}

.btn26 {
    border: none;
    background: #691212;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
    color: white;
    font-weight: 900;
    font-size: 1.7rem;
    position: relative;
    padding: 0.1rem 1rem;
    z-index: 100;
    margin-left: 2rem;
}

.btn26:hover {
    background: #c22121;
}


/* ---------emergente2----------- */


#consanguinidad26dos{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.959);
    width: 90%;
    border-radius: 2rem;
    z-index: 110;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2rem;
    height: 75%;
    left: 100%;
    margin: 5%;

}

#parentezco26dos{
    width: 3.5rem;
}

.tituleconsanguinidad26dos{
    display: flex;
    margin-top: 3%;
    margin-bottom: 3rem;
}

.textconsanguinidad26dos{
    margin-left: 1rem;
}

.textconsanguinidad26dos h3{
    color: black; 
    margin: 0;
    font-size: 2.5rem;
}

.textconsanguinidad26dos p{
    color: black; 
}


.parrafoConsanguinidad26dos h3{
    color: black;
}

.parrafoConsanguinidad26dos p{
    color: black;
}

.text2Consanguinidad26dos{
    display: flex;
    margin-top: 4rem;
}

.numberConsanguinidad26dos{
    width: 7%;
    display: flex;
    justify-content: center;
}

.numberConsanguinidad26dos h3{
    color: black;
    font-size: 3rem;
}

.parrafoConsanguinidad26dos{
    width: 50%;
}

.parrafoConsanguinidad26dos h3{
    font-size: 3rem;
    margin: 0;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.imgConsanguinidad26dos{
    width: 43%;
    display: flex;
    justify-content: center;
}

#familia26dos{
    width: 80%;
}

.btnProog26dos{
    margin-top: 2rem;
    margin-left: 2rem;
}

.btnProog26dos button p{
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
}

.btn26dos {
    border: none;
    background: #691212;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
    color: white;
    font-weight: 900;
    font-size: 1.7rem;
    position: relative;
    padding: 0.1rem 1rem;
    z-index: 100;
    margin-left: 2rem;
}

.btn26dos:hover {
    background: #c22121;
}

.grados26dos{
    display: grid;
    grid-template-columns: 12rem 1fr 20rem 1fr;
    grid-template-rows: 2rem 1fr 1fr;
    height: 48%;
}

.grid h3{
    color: black;
    font-size: 1.1rem;
}

.grid p{
    color: black;
    font-size: 1.1rem;
    padding: 0.4rem 0.8rem;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tituleLeft {
    padding-left: 0.8rem;
}

.item-1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    border-bottom: 1px solid black;

}

.item-2 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.item-3{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.item-4{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    border-right: 1px solid black;

}

.item-5{
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}

.item-6{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    border: 1px solid black;
}
.item-7{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    border: 1px solid black;
    border-left: none;

}

.item-8{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    border:  1px solid black;
    border-top: none;
    border-bottom: none;
}

.item-9{
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    border-right:  1px solid black;

}

.item-10{
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    border-top:  1px solid black;
}











