#proof1{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 100%;
    /* top: 0%; */
    z-index: 8;
}

.presentacion1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    width: 100%;
    z-index: 10;
    position: relative;
}

.tituleProof1{
    position: absolute;
    width: 100%;
    height: 30rem;
    top:10rem;
}

.containerProof1{
    height: 30rem;
    position: absolute;
    top:calc(50%);
}



#cazadoresProof1{
    width: 30rem;
    position: absolute;
    left: calc(50% - 15rem);
}

#deProof1{
    position: absolute;
    width: 3rem;
    top:7rem;
    left: calc(50% - 8rem);
}

#riesgosProof1{
    position: absolute;
    width: 17rem;
    top: 8rem;
    left: calc(50% - 5rem);
}

