#proof47{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 100%;
    /* top: 0%; */
    z-index:1;
}

.presentacion47 {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: black;
    width: 100%;
    z-index: 10;
}

#cel47{
    position: absolute;
    top: calc(50% - 15rem);
    left: 10%;
    height: 30rem;
    width: 30rem;
}

.celTres{
    text-align: left;
    margin-right: 20%;
}

.celTres p{
    color: rgb(51,51,51); 
    font-size: 2.2rem;  
}

@media (max-width: 1170px) {
    #cel47 {
      width: 40%;
      left: 0;
    }
    .celTres{
        margin-right: 3%;
    }
    
}

